<!-- updatewaterintake.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Update page" }) %>
<body>
  <%- include('partials/navbar') %>

  <div class="content">
    <div class="update">
      <h2>Update Waterintake</h2>
      <form action="/single-waterintake/<%= waterintake._id %>?_method=PUT" method="POST">
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required value="<%= waterintake.date.toISOString().substr(0, 10) %>" />

        <label>AmountInLiters:</label>
        <input type="number" value="<%= waterintake.amountInLiters %>" id="amountInLiters" name="amountInLiters" required />

        <label>Comments:</label>
        <input type="text" value="<%= waterintake.comments %>" id="comments" name="comments" required />

        <button type="submit">Update Waterintake</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>

