<!-- updatebook.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Update page" }) %>
<body>
  <%- include('partials/navbar') %>

  <div class="content">
    <div class="update">
      <h2>Update Book</h2>
      <form action="/single-book/<%= book._id %>?_method=PUT" method="POST">
        <label>Title:</label>
        <input type="text" value="<%= book.title %>" id="title" name="title" required />

        <label>Author:</label>
        <input type="text" value="<%= book.author %>" id="author" name="author" required />

        <label>Genre:</label>
        <input type="text" value="<%= book.genre %>" id="genre" name="genre" required />

        <button type="submit">Update Book</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
