<!-- Define a function to render each waterintake -->
<!-- Define a function to render each message -->
<% function renderMessage(message) { %>
  <div class="item-preview">
    <a href="/single-message/<%= message._id %>">
      <h2>Sender: <%= message.sender %></h2>
      <p>Written by Sunitha</p>
    </a>
  </div>
  <% } %>
  
  <!DOCTYPE html>
  <html lang="en">
    <!-- Pass a JavaScript variable to a partial in EJS -->
    <%- include('partials/head.ejs', { title: "Home page" }) %>
  
    <body>
      <%- include('partials/navbar') %>
  
      <div class="content">
        <div class="home">
          <div class="item-list">
            <% if (messages.length > 0) { %>
            <!-- Call the renderMessage function for each message -->
            <% messages.forEach(renderMessage); %> <% } else { %>
            <p>No messages found.</p>
            <% } %>
          </div>
        </div>
      </div>
  
      <%- include('partials/footer') %>
    </body>
  </html>