<!-- updatemessage.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- Pass a JavaScript variable to a partial in EJS -->
  <%- include('partials/head.ejs', { title: "Update page" }) %>
<body>
  <%- include('partials/navbar') %>

  <div class="content">
    <div class="update">
      <h2>Update Message</h2>
      <form action="/single-message/<%= message._id %>?_method=PUT" method="POST">
        <label>Sender:</label>
        <input type="text" value="<%= message.sender %>" id="sender" name="sender" required />

        <label for="recipient">Recipient:</label>
        <textarea id="recipient" name="recipient" rows="4" required><%= message.description %></textarea>

        <label>Content:</label>
        <input type="text" value="<%= message.content %>" id="content" name="content" required />


        
        

        
        <button type="submit">Update Message</button>
      </form>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>