
<!-- Define a function to render the contact -->
<% function renderContact(contact) { %>
    <div class="item-details">
      <article>
        <h2>Name: <%= contact.firstName %></h2>
        <h2><%= contact.lastName %></h2>
        <p>
          <strong>Email:</strong> <%= contact.email %> <br />
          <strong>Phone:</strong> <%= contact.phone %> <br />
          <strong>Address:</strong> <%= contact.address %>
        </p>
    
        <!-- Update button -->
        <form
          class="action-form"
          method="GET"
          action="/single-contact/update/<%= contact._id %>"
        >
          <button type="submit" class="update">update</button>
        </form>
    
        <!-- Delete button -->
        <form
          class="action-form"
          method="POST"
          action="/single-contact/<%= contact._id %>?_method=DELETE"
        >
          <button type="submit">delete</button>
        </form>
      </article>
    </div>
    <% } %>
  
  <!DOCTYPE html>
  <html lang="en">
    <!-- Pass a JavaScript variable to a partial in EJS -->
    <%- include('partials/head.ejs', { title: contact.title }) %>
    <body>
      <%- include('partials/navbar.ejs') %>
      
      <div class="content">
        <div class="home">
          <div class="item-list">
            <% if (contact) { %> <%= renderContact(contact) %> <% } else { %>
            <p>No contact found.</p>
            <% } %>
          </div>
        </div>
      </div>
  
      <%- include('partials/footer.ejs') %>
    </body>
  </html>
  